body {
    background-color: black;
    color: white;
    font-family: 'Staatliches', cursive;
}

h1, h2 {
    text-align: center;
}

.box {
    /* width: 300px;
    height: 100px; */
    padding: 50px;
    border: 1px solid red;
    margin: 10px;
}

@media all and (min-width: 800px) {
    /*
    Desktop defaults in more rows, where mobile is all columns
    */
}