body {
    background-color: black;
    color: white;
    font-family: 'Staatliches', cursive;
}

h1, h2 {
    text-align: center;
}

input, select, textarea{
    color: #ff0000;
}

.box {
    padding: 50px;
    border: 1px solid red;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
}

@media all and (min-width: 800px) {
    .box {
        margin-left: 25%;
        margin-right: 25%;
    }
}